body {
    padding-top: 70px;
}

.my-border {
    border: 1px solid #CCC;
    border-radius: 5px;
    height: 550px;
}

.analysis {
    margin-top: 30px;
}

#myChart {
    height:100%;
    width:100%;
    min-height:150px;
}
.zc-ref {
    display: none;
}

text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.label {
    text-anchor: middle;
}

.label rect {
    fill: white;
}

.label-key {
    font-weight: bold;
}